<div class="shopping-list">
    <p>
        {{shopping_list.name}} ({{shopping_list.id}})
    </p>
    {{#each shopping_list.items}}
    <div class="shopping-list-item">
        <p>
            Item=[id: {{id}}, quantity: {{quantity}}, itemType: {{item_type.name}}]
        </p>
    </div>
    {{/each}}
</div>
